.product-list {
    width: fit-content;    
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    align-content: center; 
    gap: 10px;
    margin-bottom: 60px;
    margin-top: 40px;
  animation: fadeIn .4s ease-in;
} 

.product-list__card {
    box-sizing: border-box;
    padding: 10px 0px;
    border-radius: 4px;
    flex: 0 1 270px;
    height: 450px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;     
}

.product-list__card:hover {
    outline: 1px solid var(--blue);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.product-list__link {
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 10px; 
    text-decoration: none;
}

.product-list__card img {
    height: 250px;
    width: 250px;    
    display: block;
    border-radius: 4px;
}

.product-item__name {
    font-size: 24px;
    color: var(--blue);
}

.product-item__price {
    color: var(--orange);
    font-size: 32px;
    font-weight: bold;
}

.product-item__price-deion {
    color: var(--gray);
    font-size: 12px;
    font-weight: bold;
}

.product-item__buy-button {
    background-color: var(--blue);
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
}

.product-item__buy-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.empty-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--light-gray-2);
  color: var(--gray);
  text-align: center;
  margin-top: 20px;
  animation: fadeIn .4s ease-in;
}

.empty-products i {
  font-size: 48px;
  color: var(--blue);
  margin-bottom: 10px;
}

.empty-products h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.empty-products p {
  font-size: 18px;
  color: var(--gray);
}

