.product__container {
    display: flex;
    column-gap: 20px;
    margin: 20px 0;
  animation: fadeIn .4s ease-in;
}

.product-image__container {
    align-self: center;
}

.product__container img {
    width: 350px;
    height: 350px;
}

.product__name {
    font-size: 36px;
}

.product__price {
    font-size: 28px;
    font-weight: 400;
    margin: 20px 0 20px;
}

.product-deion__container {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 15px;
    flex: 1;
}

.product__avaiability {
    font-size: 12px;
}

label {
    margin: 20px 0;
    display: block;
}

input {
    width: 30px;
    padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button {
    background-color: var(--blue);
    border: none;
    padding: 10px;
    color: var(--light-gray-2);
    font-size: 24px;
    transition: .3s all;
    margin: 20px 0;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.3);
}

.back-button {
  background-color: var(--blue);
  color: var(--light-gray-2);
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.back-button i {
  font-size: 18px;
}

.back-button:hover {
  filter: brightness(1.3);
}
