.container {
    animation: fadeIn .4s ease-in;
}

li {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100px;
    height: 100px;
    display: block;
}

.remove-button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    height: 100%;
    transition: .2s all;
}

.remove-button:hover {
    filter: brightness(0.9);
}

.cart-total {
    font-size: 24px;
    color: var(--gray);
    font-weight: 700;
    padding: 8px 0;
}

input {
    width: 30px;
    text-align: center;
}

.buy-button {
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    transition: .3s all;
}

.buy-button:hover {
    filter: brightness(0.9);
}

.container {
    margin-bottom: 20px;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--light-gray-2);
    color: var(--gray);
    text-align: center;
    margin-top: 20px;
    animation: fadeIn .4s ease-in;
}

.empty-cart i {
    font-size: 48px;
    color: var(--blue);
    margin-bottom: 10px;
}

.empty-cart h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.empty-cart p {
    font-size: 18px;
    color: var(--gray);
}

